[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]
pylama = "*"
black = {extras = ["jupyter"], version = "*"}

[requires]
python_version = "3.10"
