[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
tensorflow = "*"
keras = "*"
cryptography = "*"
openpyxl = "*"
xgboost = "*"

[dev-packages]
nbconvert = "*"
jupyter = "*"
pylama = "*"
black = {extras = ["jupyter"], version = "*"}

[requires]
python_version = "3.10"
